// Options
$black: #1b1e23;
$size: 500px;
$base-size: 500px;

$_indicator-width: 6px;
$_indicator-height: 6px;
$_indicator-5s-height: 24px;
$_indicator-15s-height: 36px;
$_indicator-15s-width: 10px;
$_seconds-width-center: 20px;
$indicator-5s: darken(grey, 15%);
$indicator-15s: black;
$indicator-short: grey;
$indicator-center: transparent;
$feature1: red;
$feature2: black;
$bg: transparent;
$clock-bg: white;
$padding: 20px;

$indicator-width: $_indicator-width * $size / $base-size;
$indicator-height: $_indicator-height  * $size / $base-size;
$indicator-5s-height: $_indicator-5s-height  * $size / $base-size;
$indicator-15s-height: $_indicator-15s-height  * $size / $base-size;
$indicator-15s-width: $_indicator-15s-width  * $size / $base-size;
$seconds-width-center: $_seconds-width-center  * $size / $base-size;

html,
body {
  height: 100%;
}
body {
  background: $bg;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  color: white;
}

p {
  color: $indicator-5s;
  font-size: 0.8em;
  opacity: 0.75;
}

.clock {
  height: $size;
  width: $size;
  border-radius: #{($size / 2) + $padding};
  display: flex;
  justify-content: center;
  position: relative;
  background: $clock-bg;
  padding: $padding;
  &__second,
  &__indicator {
    position: absolute;
    left: calc(50% - 1px);
    width: $_indicator-width;
    background: $indicator-5s;
    transform-origin: bottom center;
    z-index: 2;
    border-radius: 1px;
  }
  &__second {
    height: #{($size) - 20};
    //height: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    //background: $feature1;
    background: transparent;
    animation: time 60s infinite;
    animation-timing-function: linear;
    z-index: 3;
    transform-origin: center;
  }
  &__second:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    bottom: 0;
    border-left: $seconds-width-center solid transparent;
    border-right: $seconds-width-center solid transparent;
    border-top: #{($size / 2)} solid $feature1;
    transform: translate(-$seconds-width-center, 10px)
  }
    &__second:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    bottom: 0;
    border-left: $seconds-width-center solid transparent;
    border-right: $seconds-width-center solid transparent;
    border-bottom: #{($size / 2)} solid $feature2;
    transform: translate(-$seconds-width-center, #{- $size / 2  + 10})
  }
  &__indicator {
    height: #{(($size / 2) - $indicator-height) }; 
    border-top: $indicator-height solid $indicator-short;
    background: none;
  }

  &__indicator:nth-of-type(5n) {
    opacity: 1;
    height: #{($size / 2) - $indicator-5s-height};
    border-top: $indicator-5s-height solid $indicator-5s;
  }
    &__indicator:nth-of-type(15n) {
    opacity: 1;
    width: $indicator-15s-width;
    height: #{($size / 2) - $indicator-15s-height};
    border-top: $indicator-15s-height solid $indicator-15s;
  }
  &__axis {
    background: $indicator-center;
    width: 5px;
    height: 5px;
    border-radius: 3px;
    position: absolute;
    z-index: 4;
    top: #{$size / 2 - 3};
  }
}

@for $i from 1 through 60 {
  section:nth-of-type(#{$i}) {
    transform: rotateZ(calc(6deg * #{$i}));
  }
}

@keyframes time {
  to {
    transform: rotateZ(360deg);
  }
}
